@model IEnumerable<AirlineApp.Models.aeropuerto>
@{
    ViewBag.Title = "Index";
}
<h2>
    Administar Aeropuertos</h2>
<p>
    <a href="@Url.Action("Create")"><img src="../../Content/Images/add.png" style = "width:24; height:24 "/></a>
</p>
<table>
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre
        </th>
        <th>
            Cuidad
        </th>
        <th>
            Pais
        </th>
        <th>
            Direccion
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
             <a href='@Url.Action("/Edit/"+item.codigo+"")'>
                    <img src="../../Content/Images/edit.png" style="width: 24; height: 24" /></a>
                | <a href="@Url.Action("/Details/" + item.codigo + "")">
                    <img src="../../Content/Images/details.png" style="width: 24; height: 24" /></a>
                | <a href="@Url.Action("/Delete/" + item.codigo + "")">
                    <img src="../../Content/Images/trash.png" style="width: 24; height: 24" /></a>
         
            </td>
        </tr>
    }
</table>
