@model IEnumerable<AirlineApp.Models.configuracion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
            <th>
            Codigo
        </th>
                <th>
            Nombre
        </th>
        <th>
            capacidad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.avion1.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avion1.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avion1.capacidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
