@model IEnumerable<AirlineApp.Models.vuelo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            aerolinea1
        </th>
        <th>
            aeropuerto
        </th>
        <th>
            aeropuerto1
        </th>
        <th>
            avion1
        </th>
        <th>
            salida
        </th>
        <th>
            llegada
        </th>
        <th>
            estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.aerolinea1.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aeropuerto.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aeropuerto1.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avion1.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.llegada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.codigo }) |
            @Html.ActionLink("Details", "Details", new { id=item.codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.codigo })
        </td>
    </tr>
}

</table>
